extends layout

block content
  h1= title
  p
    !=subtitle
  .chart#chart_genero
  .chart#chart_estado_civil
  .chart.horizontal#chart_grau_instrucao
  .chart.horizontal#chart_partido
  .chart.horizontal#chart_coligacao
    .chart.horizontal#chart_ocupacao